BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S v2.0 and v2.1

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_16mhz" SITE "G3";
IOBUF  PORT "clk_16mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_16mhz" 16 MHZ;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "A9";
LOCATE COMP "led[6]" SITE "B9";
LOCATE COMP "led[5]" SITE "B10";
LOCATE COMP "led[4]" SITE "A10";
LOCATE COMP "led[3]" SITE "A11";
LOCATE COMP "led[2]" SITE "C10";
LOCATE COMP "led[1]" SITE "B11";
LOCATE COMP "led[0]" SITE "C11";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## PCB antenna 433 MHz (may be also used for FM) "usb" sheet
LOCATE COMP "ant_433mhz" SITE "G1";
IOBUF  PORT "ant_433mhz" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Second USB port "US2" going directly into FPGA "usb", "ram" sheet
LOCATE COMP "usb_fpga_dp" SITE "A12"; # single ended or differential input only
LOCATE COMP "usb_fpga_dn" SITE "D12";
IOBUF  PORT "usb_fpga_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "usb_fpga_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
LOCATE COMP "usb_fpga_bd_dp" SITE "D15"; # differential bidirectional
LOCATE COMP "usb_fpga_bd_dn" SITE "E15";
IOBUF  PORT "usb_fpga_bd_dp" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF  PORT "usb_fpga_bd_dn" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "usb_fpga_pu_dp" SITE "A13"; # pull up/down control
LOCATE COMP "usb_fpga_pu_dn" SITE "D13";
IOBUF  PORT "usb_fpga_pu_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "usb_fpga_pu_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
