BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S v2.0 and v2.1

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_16mhz" SITE "P11";
IOBUF  PORT "clk_16mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_16mhz" 16 MHZ;

#F15 E16 E15 D16 C16 C15 B16 B15
## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "F15";
LOCATE COMP "led[6]" SITE "E16";
LOCATE COMP "led[5]" SITE "E15";
LOCATE COMP "led[4]" SITE "D16";
LOCATE COMP "led[3]" SITE "C16";
LOCATE COMP "led[2]" SITE "C15";
LOCATE COMP "led[1]" SITE "B16";
LOCATE COMP "led[0]" SITE "B15";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Connector("pmod", 0, "P2  L1  J2  H2  - - N1  L2  J1  G1  - -"), # PMOD1

## Second USB port "US2" going directly into FPGA "usb", "ram" sheet
LOCATE COMP "usb_fpga_dp" SITE "P2"; # single ended or differential input only
LOCATE COMP "usb_fpga_dn" SITE "L1";
IOBUF  PORT "usb_fpga_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "usb_fpga_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
LOCATE COMP "usb_fpga_pu_dp" SITE "J2"; # pull up/down control
LOCATE COMP "usb_fpga_pu_dn" SITE "H2";
IOBUF  PORT "usb_fpga_pu_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "usb_fpga_pu_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
